<!--
###################################################
# knr001_管理者画面(ユーザー一覧)
#
#
###################################################
-->

<% provide(:title, '一覧') %>

<% if params[:search].present? %>
  <h1>検索結果</h1>
<% else %>
  <h1>ユーザ一覧</h1>
<% end %>

<p></p>
<div>
  <%= form_tag import_users_path, multipart: true do %>
    <div class="search_item">
      <%= file_field_tag :file %>
    </div>
    <p></p>
    <div>
      <button type="submit" class="btn btn-primary">CSVをインポート</button>
    </div>
  <% end %>
</div>

<p></p>

<!-- ユーザー(_user.html)ページ表示 -->
<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>