<!--
###################################################
# knt002_勤怠確認画面(上長のみ閲覧OK)
#
#
###################################################
-->
<% provide(:title, '勤怠確認') %>
<div>
  <!-- 勤怠画面 ヘッダー部 -->
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        <%#= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                         class: "btn btn-xs btn-primary" %>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <%#= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                         class: "btn btn-xs btn-primary" %>
      </td>
      <td>
        指定勤務開始時間　<%= format_basic_time(@user.work_time) %><br>
        指定勤務終了時間　<%= format_basic_time(@user.work_end_time) %> 
      </td>
      <td>基本時間　<%= format_basic_time(@user.basic_time) %></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>
  
  <!-- お知らせボタン(文字列リンク)関係 -->
  <!--
  <div class = "link-shozoku">
    <%#= link_to "【所属長承認申請のお知らせ】", shinsei_kintai_path(@user), remote: true, class: "shozoku-info", :style=>"color:red" %>
  </div>
  <div><%#= link_to "【勤怠変更申請のお知らせ】", "#", class: "kintai-info" %></div>
  <div><%#= link_to "【残業申請のお知らせ】", "#", class: "zangyou-info" %></div>
  -->
  
  <!-- 各種機能ボタン関係 -->
  <!--
  <div class = "btn-csv">
    <%#= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
    <%#= link_to "CSV出力", "#", class: "btn btn-primary" %>
  </div>
  <div class = "btn-log">
    <%#= link_to "勤怠修正ログ(承認済み)", "#", class: "btn btn-primary" %>
  </div>
  -->
  <div>&emsp;</div>
  <!-- 勤怠明細部 -->
  <table class = "table-bordered table-striped table-condensed">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務書内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <% 
          css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土'
            'txtSaturday'
          when '日'
            'txtSunday'
          end
        %>
        <tr>
          <td><%#= link_to "残業申請", "#", class: "btn btn-primary btn-zan-shinsei" %></td>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <td>
            <% if day.started_at.present? %>
              <% if day.started_at.to_s(:min).to_i >= 0 && day.started_at.to_s(:min).to_i <= 14 %>
                <%= "00" %>
                <% start_min = "00" %>
              <% elsif day.started_at.to_s(:min).to_i >= 15 && day.started_at.to_s(:min).to_i <= 29 %>
                <%= "15" %>
                <% start_min = "15" %>
              <% elsif day.started_at.to_s(:min).to_i >= 30 && day.started_at.to_s(:min).to_i <= 44 %>
                <%= "30" %>
                <% start_min = "30" %>
              <% elsif day.started_at.to_s(:min).to_i >= 45 && day.started_at.to_s(:min).to_i <= 59 %>
                <%= "45" %>
                <% start_min = "45" %>
              <% else %>
                <%= day.started_at.to_s(:min) %>
              <% end %>
            <% end %>
          </td>
          <!-- 出社ボタン表示 -->
          <td>
            <%# if day.worked_on == Date.today && day.started_at.nil? %>
              <%#= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <%# end %>
          </td>
          <!-- 退勤時間表示 -->
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <td>
            <% if day.finished_at.present? %>
              <% if day.finished_at.to_s(:min).to_i >= 0 && day.finished_at.to_s(:min).to_i <= 14 %>
                <%= "00" %>
                <% finish_min = "00" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 15 && day.finished_at.to_s(:min).to_i <= 29 %>
                <%= "15" %>
                <% finish_min = "15" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 30 && day.finished_at.to_s(:min).to_i <= 44 %>
                <%= "30" %>
                <% finish_min = "30" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 45 && day.finished_at.to_s(:min).to_i <= 59 %>
                <%= "45" %>
                <% finish_min = "45" %>
              <% else %>
                <%= day.finished_at.to_s(:min) %>
              <% end %>
            <% end %>
          </td>
          <td>
            <%# if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
              <%#= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" %>
            <%# end %>
          </td>
          <!-- 在社時間(計算) -->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%#= working_times(day.started_at, day.finished_at) %>
              <%= working_times(Time.parse(day.started_at.to_s(:hour) + ":" + start_min), Time.parse(day.finished_at.to_s(:hour) + ":" + finish_min)) %>
              <%# seconds = (day.finished_at - day.started_at).to_i %>
              <% seconds = (Time.parse(day.finished_at.to_s(:hour) + ":" + finish_min) - Time.parse(day.started_at.to_s(:hour) + ":" + start_min)).to_i %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <!-- 備考 -->
          <td><%= day.note %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan = "2"><%#= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>所属長承認 未<div>
          <div class = 'select-shonin'>
          <%#= form_for @user do |f| %>
            <%#= f.select :name, User.all.map{|o| [o.name, o.id]}, :include_blank => true %>
          <%# end %>
          </div>
          <%#= link_to "申請", "#", class: "btn btn-primary btn-shinsei" %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!--モーダルウインドウ表示-->
<!--<div id="kintai-shinsei" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>-->