<!--
###################################################
# knt002_勤怠確認画面(上長のみ閲覧OK)
#
#
###################################################
-->
<% provide(:title, '勤怠確認') %>
<div>
  <!-- 勤怠画面 ヘッダー部 -->
  <table class = "table-bordered table-condensed">
    <tr>
      <td>
        &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
      </td>
      <td>
        指定勤務開始時間　<%= format_basic_time(@user.designated_work_start_time) %><br>
        指定勤務終了時間　<%= format_basic_time(@user.designated_work_end_time) %> 
      </td>
      <td colspan = "3">基本時間　<%= format_basic_time(@user.basic_work_time) %></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未設定" %></td>
      <td>氏名　<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employer_number %></td>
      <td>出勤日数　<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>

  <div>&emsp;</div>
  <!-- 勤怠明細部 -->
  <table class = "table-bordered table-condensed table-hover">
    <thead>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">所定外勤務</th>
      </tr>
      <tr>
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務書内容</th>
        <th rowspan = "2">指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <% 
          css_class = 
          case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
          when '土'
            'txtSaturday'
          when '日'
            'txtSunday'
          end
        %>
        <tr>
          <td></td>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
          <td><%= day.started_at.to_s(:hour) if day.started_at.present? %></td>
          <td>
            <% if day.started_at.present? %>
              <% if day.started_at.to_s(:min).to_i >= 0 && day.started_at.to_s(:min).to_i <= 14 %>
                <%= "00" %>
                <% start_min = "00" %>
              <% elsif day.started_at.to_s(:min).to_i >= 15 && day.started_at.to_s(:min).to_i <= 29 %>
                <%= "15" %>
                <% start_min = "15" %>
              <% elsif day.started_at.to_s(:min).to_i >= 30 && day.started_at.to_s(:min).to_i <= 44 %>
                <%= "30" %>
                <% start_min = "30" %>
              <% elsif day.started_at.to_s(:min).to_i >= 45 && day.started_at.to_s(:min).to_i <= 59 %>
                <%= "45" %>
                <% start_min = "45" %>
              <% else %>
                <%= day.started_at.to_s(:min) %>
              <% end %>
            <% end %>
          </td>
          <!-- 出社ボタン表示 -->
          <td>
          </td>
          <!-- 退勤時間表示 -->
          <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
          <td>
            <% if day.finished_at.present? %>
              <% if day.finished_at.to_s(:min).to_i >= 0 && day.finished_at.to_s(:min).to_i <= 14 %>
                <%= "00" %>
                <% finish_min = "00" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 15 && day.finished_at.to_s(:min).to_i <= 29 %>
                <%= "15" %>
                <% finish_min = "15" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 30 && day.finished_at.to_s(:min).to_i <= 44 %>
                <%= "30" %>
                <% finish_min = "30" %>
              <% elsif day.finished_at.to_s(:min).to_i >= 45 && day.finished_at.to_s(:min).to_i <= 59 %>
                <%= "45" %>
                <% finish_min = "45" %>
              <% else %>
                <%= day.finished_at.to_s(:min) %>
              <% end %>
            <% end %>
          </td>
          <td>
          </td>
          <!-- 在社時間(計算) -->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <% @diff_sec = (Time.parse(day.finished_at.to_s(:hour) + ":" + finish_min) - Time.parse(day.started_at.to_s(:hour) + ":" + start_min)).to_i %>
              
              <% if @diff_sec < 0 %>
                <% @diff_sec = 86400 + @diff_sec %>
                <%= format("%.2f", 24 + working_times(Time.parse(day.started_at.to_s(:hour) + ":" + start_min), Time.parse(day.finished_at.to_s(:hour) + ":" + finish_min)).to_f) %>
              <% else %>                
                <%= working_times(Time.parse(day.started_at.to_s(:hour) + ":" + start_min), Time.parse(day.finished_at.to_s(:hour) + ":" + finish_min)) %>
              <% end %>

              <% seconds = @diff_sec %>
              <% @total_seconds = @total_seconds.to_i + seconds %>
            <% end %>
          </td>
          <!-- 備考 -->
          <td><%= day.note %></td>
          <!-- 残業申請データの取得(原則1件のみのためfind_byを使用) -->
          <% @zangyo_shinsei_data = Zangyoaprvl.find_by(zangyo_target_person_id: params[:id], zangyo_aprvl_req_on: "#{day.worked_on}") %>
          <% zangyo_status_msg = "" %>
          <% if @zangyo_shinsei_data.present? %>
            <!-- 終了予定時間(時) -->
            <td><%= @zangyo_shinsei_data.zangyo_finished_at.to_s(:hour) if @zangyo_shinsei_data.zangyo_finished_at.present? %></td>
            <!-- 終了予定時間(分) -->
            <td><%= @zangyo_shinsei_data.zangyo_finished_at.to_s(:min) if @zangyo_shinsei_data.zangyo_finished_at.present? %></td>
            <!-- 時間外時間 -->
            <% @calc_work_datetime = Time.parse(@zangyo_shinsei_data.zangyo_aprvl_req_on.strftime("%Y-%m-%d") + " " + @user.designated_work_end_time.strftime("%H:%M") + " +0900") %>
            <td><%= working_times(@calc_work_datetime, @zangyo_shinsei_data.zangyo_finished_at) if @zangyo_shinsei_data.zangyo_finished_at.present? %></td>
            <!-- 業務処理内容 -->
            <td><%= @zangyo_shinsei_data.zangyo_note if @zangyo_shinsei_data.zangyo_note.present? %></td>
            <!-- 指示者確認㊞の元文字作成-->
            <% zangyo_aprvl_status_l = @zangyo_shinsei_data.zangyo_aprvl_status %>
            <% user_name_l = User.find_by(id: "#{@zangyo_shinsei_data.user_id}") %>
            <% if zangyo_aprvl_status_l == "申請中" %>
            <%   zangyo_status_msg = "#{user_name_l.name}：残業申請【申請中】" %>
            <% elsif zangyo_aprvl_status_l == "否認" %>
            <%   zangyo_status_msg = "#{user_name_l.name}：残業申請【否認】" %>
            <% elsif zangyo_aprvl_status_l == "承認" %>
            <%   zangyo_status_msg = "#{user_name_l.name}：残業申請【承認済】" %>
            <% else %>
            <%   zangyo_status_msg = "" %>
            <% end%>
          <% end %>
          
          <!-- 勤怠変更申請データの取得(原則1件のみのためfind_byを使用) -->
          <% @editaprvl_shinsei_data = Editaprvl.find_by(user_id: params[:id], change_kintai_req_on: "#{day.worked_on}") %>
          <% change_status_msg = "" %>
          <% if @editaprvl_shinsei_data.present? %>
            <!-- 指示者確認㊞の元文字作成-->
            <% change_aprvl_status_l = @editaprvl_shinsei_data.change_aprvl_status %>
            <% user_name_l = User.find_by(id: "#{@editaprvl_shinsei_data.change_target_person_id}") %>
            <% if change_aprvl_status_l == "申請中" %>
            <%   change_status_msg = "#{user_name_l.name}：勤怠編集【申請中】" %>
            <% elsif change_aprvl_status_l == "否認" %>
            <%   change_status_msg = "#{user_name_l.name}：勤怠編集【否認】" %>
            <% elsif change_aprvl_status_l == "承認" %>
            <%   change_status_msg = "#{user_name_l.name}：勤怠編集【承認済】" %>
            <% else %>
            <%   change_status_msg = "" %>
            <% end%>
          <% end %>

          <% if !@zangyo_shinsei_data.present? %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>

          <!-- 指示者確認㊞ 表示-->   
          <% if zangyo_status_msg != "" and change_status_msg == "" %> 
            <td><%= zangyo_status_msg %></td>
          <% elsif zangyo_status_msg == "" and change_status_msg != "" %> 
            <td><%= change_status_msg %></td>
          <% elsif zangyo_status_msg != "" and change_status_msg != "" %> 
            <td><%= zangyo_status_msg %><br><%= change_status_msg %></td>
          <% else%>
            <td></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan = "2"></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <div>所属長承認　<%= @apr_status_msg %><div>
          <div class = 'select-shonin'>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <p></p>
</div>