<!--
###################################################
# klg002_勤怠ログ 実表部分(パーシャル)
#
#
###################################################
-->
<table class = "table-bordered table-condensed table-striped">
  <thead>
    <tr>
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</th>
      <th>承認日</th>
    </tr>
  </thead>

  <tbody>
    <% @log_data.each do |kyoten| %>
    <tr>
      <td><%= kyoten.change_kintai_req_on %></td>
      <td><%= kyoten.change_first_started_at.strftime("%Y-%m-%d %H:%M") if kyoten.change_first_started_at.present? %></td>
      <td><%= kyoten.change_first_finished_at.strftime("%Y-%m-%d %H:%M") if kyoten.change_first_finished_at.present? %></td>
      <td><%= kyoten.change_started_at.strftime("%Y-%m-%d %H:%M") if kyoten.change_started_at.present? %></td>
      <td><%= kyoten.change_finished_at.strftime("%Y-%m-%d %H:%M") if kyoten.change_finished_at.present? %></td>
      <% @user_name = "" %>
      <% @user_name = User.find(kyoten.change_target_person_id) if kyoten.change_target_person_id.present? %>
      <td><%= @user_name.name if @user_name.present? %></td>
      <td><%= kyoten.updated_at.strftime("%Y-%m-%d %H:%M") %></td>
    </tr>
    <% end %>
  </tbody>
</table>