<!--
###################################################
# ktn001_拠点一覧画面
#
#
###################################################
-->

<% provide(:title, '拠点一覧') %>

<h1>拠点一覧</h1>

<div>
  <table class = "table-bordered table-striped table-condensed">
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>勤怠種類</th>
    </tr>

    <% @kyoten.each do |kyoten| %>  
      <tr>
        <td>
          <%= link_to "修正", kyoten_edit_path(kyoten.kyoten_id), remote: true, class: "btn btn-primary" %>
        </td>
        <td>
          <div class = "btn-delete">
            <%= link_to "削除", kyoten, method: :delete, data: {confirm: "削除してよろしいですか?"}, class: "btn btn-primary" %>
          </div>
        </td>
        <td><%= kyoten.kyoten_id %></td>
        <td><%= kyoten.kyoten_name %></td>
        <td><%= kyoten.kyoten_shurui %></td>
      </tr>
    <% end %>
  </table>
  <br>  

  <!-- 拠点情報追加ボタン処理 -->
  <div class="panel-heading">
    <div class="panel panel-default collaps">

      <a href="#link" data-toggle="collapse" class="btn btn-primary btn-edit2">拠点情報追加</a>
      
        <div id= "link" class="collapse kyoten-acordion">
          <%= form_for(@kyoten_new, url: touroku_baseplace_path, method: :patch) do |f| %>
            <table class = "table-bordered table-striped table-condensed">
              <tr>
                <td>拠点番号</td>
                <td>拠点名</td>
                <td>勤怠種類</td>
              </tr>
    
              <tr>
                <th><%= f.text_field :kyoten_id, class: "form-control" %></th>
                <td><%= f.text_field :kyoten_name, class: "form-control" %></td>
                <td><%= f.text_field :kyoten_shurui, class: "form-control" %></td>
              </tr>
            </table>
            
            <div><%= f.submit "新規登録", class: "btn btn-primary btn-soushin" %></div>
          <% end %>
        </div>
    </div>
  </div>

</div> 

<!--モーダルウインドウ表示-->
<div id="kyoten-edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

