<!--
###################################################
# zns001_残業申請画面(一般・上長ユーザー、モーダル表示)
#
#
###################################################
-->
<% provide(:title, "残業申請" ) %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      
      <div>
        <h1>【残業申請】</h1>
        
  <%= form_for(@user, url: update_zangyo_attendances_path, method: :patch) do |f| %>
    <table class = "table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
        </tr>
      </thead>
      <tbody>
          <% 
            css_class = 
            case %w{日 月 火 水 木 金 土}[@slct_day.wday]
            when '土'
              'txtSaturday'
            when '日'
              'txtSunday'
            end
          %>
          <%= fields_for "zangyoaprvls[]", @zangyoaprvl do |af| %>
            <tr>
              <td><%= @slct_day.strftime("%m/%d") %></td>
              <td class = "<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@slct_day.wday] %></td>
              <td><%= af.time_select :zangyo_finished_at, {:minute_step => 15}, {:class => "form-control bootstrap-date"} %></td>
              <td><%= check_box_tag :"yokujitsu_kakunin" %></td>
              <td><%= af.text_field :zangyo_note, class: "form-control bootstrap-date" %></td>
              <td>
                <div class = 'select-zangyo-shonin'>
                  <%= f.select :name, User.where(superior: true).where.not(id: @user.id).map{|o| [o.name, o.id]}, {:include_blank => true, :selected => @shonin_id_show}, \
                      {class: "select-zangyo-shonin2 bootstrap-date"} %>
                </div>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <p></p>
    <div class="btn-attendances-update">
      <%= f.submit "変更を送信する", class: "btn btn-primary" %>
    </div>
  <% end %>

      </div>
    </div>
  </div>
</div>